import streamlit as st
import pandas as pd
import numpy as np
from urllib.request import urlopen
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from IPython.core.display import HTML
