import streamlit 
import pandas 
import numpy
from urllib.request import urlopen
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from IPython.core.display import HTML
